
.recapCard{
 display: flex;
 align-items: center;
 gap: 20px;
 align-self: flex-start;
}
.form{
 min-height: 100vh;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

.formTitle{
 margin: 1rem 0;
 font-size: 1.5rem;
 font-weight: 600;
 text-align: center;
}

.formBox{
 width: 400px;
 min-height: 400px;
 background-color: rgba(240, 233, 233, 0.2);
 border-radius: 10px;
 padding: 20px;
}

.input{
 border: 1px solid rgba(105, 103, 103, 0.7) ;
 width: 100%;
 padding: 10px;
 border-radius: 8px;
 outline: none;
 transition: all 0.5s;
}

.inputLabel{
 text-align: left;
 margin: 1rem 0;
 display: block;
 font-size: 13px;
 font-weight: 500;
}
.input:focus{
 border: 2px solid rgba(110, 26, 179, 0.7) ;
}

.btn{
 width: 100%;
 margin-top: 2rem;
 padding: 10px;
 background-color: var(--bg-primary);
 border-radius: 8px;
 color: white;
 font-size: 13px;
 font-weight: 500;

}